fastcgi.conf           
koi-utf
safe.est
uwsgi_params
fastcgi.conf.default
koi-win
nginx.conf.default
scgi_params
uwsgi_params.default
fastcgi_params
mime.types
nginx.orig
scgi_params.default
win-utf
fastcgi_params.default
mime.types.default
